@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
    font-family: "Poppins", sans-serif;
    font-family: "Abril Fatface", serif;
*/

html {
    scroll-behavior: smooth;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* transition: all .35s ease-in-out; */
}

a{
    color: initial;
    text-decoration: none;
}

body {
    background-color: whitesmoke;
}

.mainFrame {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
}

.mainFrame .subFrame:nth-child(1) {
    flex: 1;
    min-height: 100vh;
}

.mainFrame .subFrame:nth-child(2) {
    flex: 5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* [navigation] side bar */


.mainFrame .subFrame:nth-child(1) .sideFrame {
    width: 16.667%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: fixed;
    z-index: 10;
}

.sideFrame a {
    flex: 1;
    text-transform: capitalize;
    background-color: teal;
    color: whitesmoke;
    display: flex;
    align-items: center;
    transition: all .35s ease-in-out;
}

.sideFrame .sideBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 25px;
}

.sideFrame .sideBtn .icon {
    width: 25px;
}

.sideFrame .sideBtn .icon svg {
    width: 100%;
}

.sideFrame .sideBtn p {
    font-size: 1em;
    letter-spacing: 1px;
    width: fit-content;
}

.sideFrame a:hover {
    background-color: whitesmoke;
    color: darkgreen;
    text-transform: uppercase;
}