::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(112, 128, 144, 0.473);
}

::-webkit-scrollbar-thumb:hover {
    background-color: slategray;
}